body * {
    outline: 1px dotted red;
    width: 1024px;
}

body div {
    background-color: hsl(219deg 54% 24%);
    padding: 10px;
}

a {
    color: hsl(185deg 67% 63%);
    background-color: transparent;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: hsl(211deg 51% 84%);
}

section {
    display: flex;
    width: 100%;
}

#header {
    height: 80px;
    background-color: hsl(357deg 63% 50%);
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    display: flex;
    place-items: center;
    margin-top: 3px;
}

body {
    margin: 0px 5px;
    min-height: 450px;
}

#menu {
    height: 250px;
    width: 230px;
    background-color: hsl(189deg 54% 36%);
    vertical-align: top;
    border-radius: 10px;
    margin-left: 0px;
}

#menu p{
    margin-left: 0px;
    width: 100%;
}

#menu ul {
    margin-left: 20px;
    padding-left: 0px;
    margin-top: 0px;
    color: white;
    width: 100%;
}

#menu ul li {
    margin-left: 0px;
    padding-left: 0px;
    color: white;
    width: 100%;
}

#menu ul li ul li {
    margin: 30px;
    color: white;
    width: 100%;
}

#contenido {
    height: 500px;
    width: 100%;
    background: black;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;

}


#contenido_h {
    width: 100%;
    color: white;
}

.contenido-item a{
    height: max-content;
    max-width: max-content;
    margin-right: 5px;
    margin-left: 10px;
}

.contenido-item-ul {
    width:100%;
    padding-left: 15px;
    color: white;
}

.contenido-item-li {
    width: 100%;
}

.contenido_p {
    width: 100%;
    color: white;
}

#footer{
    min-height: 60px;
    width: 100%;
    border-radius: 15px;
    background-color: gray;
    max-width: -webkit-fill-available;

}

#footer p{
    margin: 10px;
    color: hsl(210deg 40% 79%);
    width: 100%;
}

#footer a{
    width: 100%;
}